.projectContainer {
    margin-top: 20rem;
  text-align: center;
}
.projectTitle {
  color: white;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.projects {
  background-color: rgb(35, 35, 35);
  padding: 2rem 4rem 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.imgDiv {
  width: 45%;
  height: 300px;
  border-bottom: 5px solid orangered;
  margin-bottom: 1rem;
  transition: 1s all;

  &:hover {
    background-color: orangered;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:hover {
      opacity: 0.6;
    }
  }
}
