.horizontal {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 1rem;
}
.icon {
  color: wheat;
  font-size: 2.5rem;
  margin-right: 0.7rem;
  &:hover {
    color: orangered;
    transition: 1s all;
  }
}
.copyRight{
    color: wheat;
    font-size: 0.8rem;
    font-weight: 600;
}
