body{
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url("./assets/img/model-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}